includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - routes/
        - config/

    # Level 9 is the highest level
    level: 5

    excludePaths:
        - ./*/*/FileToBeExcluded.php